/*************************************
GENERAL
*************************************/

body {
  font-family: 'Opens Sans' ,sans-serif;
}

body{
  width:100%;
  margin:auto;
  max-width:2000px
}

#wrapper {
max-width: 940px;
margin: 0 auto;
padding: 0 5%;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  align-content: center;
  text-align: center;
}

h3 {
   margin: 0 0 1em 0;
}

/*************************************
HEADING
*************************************/

header {
  float: left;
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
  width: 100%;
}

#logo {
  max-height: 364px;
  max-width: 300px;
  text-align: center;
  margin: 0;
}

h1 {
   font-family: 'Changa One', sans-serif;
   margin: 15px 0;
   font-size: 1.75em;
   font-weight: normal;
   line-height:  0.8em;
}

h2 { 
  font-size: 0.75em;
  margin: -5px 0 0;
  font-weight: normal;
}

/*************************************
NAVIGATION
*************************************/
 
nav { 
  text-align: center;
  padding: 30px 0;
  margin: 30px 10px 10px;
}

nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0
}

nav li {
  display: inline
}
  
nav a {
  font-weight: 800; 
  padding: 15px 10px;
}
  
/*************************************
FOOTER
*************************************/
  
footer {
    font-size: 0.75em;
    text-align: center;
    clear: both;
    padding-top: 50px;
    color: #ccc;
}
    


.social-icon {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}




/*************************************
PAGE: PORTFOLIO
*************************************/


#gallery {
  margin: 0;
  padding: 0;
  list-style: none;
}

#gallery li {
  float: left;
  width: 45%;
  margin: 2.5%;
  background-color: #f5f5f5;
  color: #bdc3c7
}

#gallery li a p {
  margin: 0;
  padding: 5%;
  font-size: 0.75em;
  color: #bdc3c7
}

/*************************************
PAGE: ABOUT
*************************************/


.profile-photo {
display:block;
max-width: 150px;
margin: 0 auto 30px;
border-radius:  100%;
}
    



/*************************************
PAGE: CONTACT
**************************************/

.contact-info {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
}

.contact-info a {
  display: block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px; 
  margin: 0 0 10px;
}

.contact-info li.phone a {
  background-image: url('../img/phone.png');
}

.contact-info li.mail a {
  background-image:url('../img/mail.png');
}

.contact-info li.twitter a {
  background-image:url('../img/twitter.png');
}

/*************************************
COLORS
*************************************/

/* site body */
body {
  background-color: #fff;
  color: #999;
}    

/* green header */
header {
  background: #6ab47b;
  border-color: #599a68; 
}

/* logo text */
h1, h2 {
  color: #fff;
}

/* link */
a {
  color: #6ab47b;
}


/* nav background on mobile */
nav {
  background: #599a68;
}

/* nav link */
nav a, nav a:visited {
  color: #fff;
}

/* selected nav link */
nav a.selected, nav a:hover {
  color:  #32673f;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  color: #384047;
}

table {
  max-width: 960px;
  margin: 10px auto;
}

caption {
  font-size: 1.6em;
  font-weight: 400;
  padding: 10px 0;
}

thead th {
  font-weight: 400;
  background: #8a97a0;
  color: #FFF;
}

tr {
  background: #f4f7f8;
  border-bottom: 1px solid #FFF;
  margin-bottom: 5px;
}

tr:nth-child(even) {
  background: #e8eeef;
}

th, td {
  text-align: left;
  padding: 20px;
  font-weight: 300;
}

tfoot tr {
  background: none;
}

tfoot td {
  padding: 10px 2px;
  font-size: 0.8em;
  font-style: italic;
  color: #8a97a0;
}



/* Photo Banner */
* {margin: 0; padding: 0;}
 
body {
 <!-- src: http://subtlepatterns.com/?p=1045 -->
 background: url('dark_geometric.png');
}
 
#container {
 width: 2000px;
 overflow: hidden;
 background: white;
}

 
.photobanner {
 height: 233px;
 width: 3550px;
 margin-bottom: 80px;
}

/*keyframe animations*/
.first {
 -webkit-animation: bannermove 30s linear infinite;
    -moz-animation: bannermove 30s linear infinite;
     -ms-animation: bannermove 30s linear infinite;
      -o-animation: bannermove 30s linear infinite;
         animation: bannermove 30s linear infinite;
}
 
@keyframes "bannermove" {
 0% {
    margin-left: 0px;
 }
 100% {
    margin-left: -2125px;
 }
 
}
 
@-moz-keyframes bannermove {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }
 
}
 
@-webkit-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }
 
}
 
@-ms-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }
 
}
 
@-o-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }
 
}

.photobanner {
 height: 233px;
 width: 3550px;
 margin-bottom: 80px;
}
 
.photobanner img {
 -webkit-transition: all 0.5s ease;
 -moz-transition: all 0.5s ease;
 -o-transition: all 0.5s ease;
 -ms-transition: all 0.5s ease;
 transition: all 0.5s ease;
}
 
.photobanner img:hover {
 -webkit-transform: scale(1.1);
 -moz-transform: scale(1.1);
 -o-transform: scale(1.1);
 -ms-transform: scale(1.1);
 transform: scale(1.1);
 cursor: pointer;
 
 -webkit-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
 -moz-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
 box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
}
